In [2]:
#importing necessary libraries
import  pandas as pd
%run preprocessing.ipynb
%run evaluate.ipynb
%run model_training.ipynb

In [8]:
test_df.head()
test_df = test_df.drop(columns=['Price'], errors='ignore')

In [17]:
test_df.head(5)

,Total_Stops,journey_day,journey_month,Duration_in_time,arrival_time_hour,arrival_time_minute,arrival_day,arrival_month,Departure_hour,Departure_minute,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,1,6,6,655,4,25,7,6,17,30,...,0,0,1,0,0,1,0,0,0,0
1,1,12,5,240,10,20,4,1,6,20,...,0,0,0,1,0,0,0,0,0,0
2,1,21,5,1425,19,0,22,5,19,15,...,0,0,1,0,0,1,0,0,0,0
3,1,21,5,780,21,0,4,1,8,0,...,0,0,1,0,0,1,0,0,0,0
4,0,24,6,170,2,45,25,6,23,55,...,0,0,0,0,0,0,1,0,0,0

In [12]:
#lets make prediction on test data
pred_lr  = linear_regression.predict(test_df)
pred_rf  = rfr.predict(test_df)
pred_xgb = xgb.predict(test_df)
pred_lr  = np.expm1(pred_lr)

In [13]:
#lets convert those into data frame
pred_df = pd.DataFrame({'LinearRegression': pred_lr,'RandomForest': pred_rf,'XGBoost': pred_xgb})
pred_df.head()

   LinearRegression  RandomForest       XGBoost
0      11270.668795  10658.836000  11438.964844
1       6735.931288   4236.500000   4781.826172
2      10831.101281  14326.556000  13985.562500
3       9717.016769  13048.087429  10710.966797
4       3631.116212   3895.870000   3753.676025

In [22]:
#we have make a csv file with the mean prediction of  3 models
final_pred = pred_df.mean(axis=1)
submission = pd.DataFrame({'Predicted_Price': final_pred})
submission.to_csv("final_predictions.csv", index=False)